html, body{

  height: 100%;
  margin: 0px;

}

body {

   font-family: Verdana, Arial, Helvetica, sans-serif;

   font-size: 13px;

   color: white; 

}

 

main{

    margin: 0 auto; /*setzt die margin der ganzen Seite auf 0 und zentriert */

    background-color: cornflowerblue;

    height: 100%;

    width: 100%; /*setzt die Breite des containers auf 90% der Seite

    damit der Inhalt nicht iwo ausserhalb ist */

 

}


header p{
  margin: 0;

}

 

#columns {

/*   float: left; */

  width: calc(100% - 20px);

  columns:  3;

}

header img, p{
  float: left;

}

a{
  text-decoration: none;
  color: white;
}

header p {
    text-align: center;
    height: 50px;
    color: white;
    font-size: 2em;
    line-height: 50px;
    padding-left: 20%;
}

 
#logo1{
  border-radius: 8px;
    width: 200px;
    float: left;
}

#logo2{
  border-radius: 50%;
  height: 80px;
  width: 120px;
  float: right;
}
 

/* NAV style from here*/

 

ul { /* nimmt immer die ganze Breite somit kann man es nicht floaten

ausser man sagt ihn es soll sich nicht wie ein block element verhalten*/

    list-style-type: none; /*no bullet points please */

    margin: 0; /*sets all the margin properties*/

    padding: 0; /*used to generate space around content*/

    overflow: auto; /*entweder to clip content or to add scrollbars or

    hidden - auto zeigt ein scroll nur wenns es sein muss*/

    background-color: royalblue;  

    width: 100%;

    min-height: 45px; /* wenn wir hier min größe angeben, heißt das,

    dass es auch größer werden kann. somit ist die notwendigkeit von overflow nicht mehr gegeben.*/
  float: left;
}


li {

    float: left;

    border: 1px lightcyan;

}


li a {

  display: block;

  color: white;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

}



#feature{
  clear: both;
  height: 50px;
  border: 2px;
  border-style: dotted;
  border-color: black;
}
 

footer {

   height: 50px;

   width: 100%;

   /* clear: both; */

   background-color: royalblue; 

   color: white;

   position: absolute;

   bottom: 18px;

}

.copyright{
  float:  right;
  width: 300px;
  align-content: ;
  height: 50px;

}

li #copyright{
  float: right;

}

#footernav{
  width: 800px;
  height: 50px;
  padding-top: ;
/*   position: absolute;
 */}